#foto {
   width: 200px; margin: 2rem 0; border-radius: 2rem;
}
.seccion-bienvenida{
    margin: 5rem 0 10rem 0;
    color: white;
}
.seccion-bienvenida h1{
    margin-bottom: 1rem;
}
.seccion-bienvenida p{
    font-family:'Sans Serif Collection';
    line-height: 1.5;
    font-size: 1.25rem;
}
#imagen-dotnet{
    width: 500px;
}