<div style="margin-top: -25px">
	<div class="row justify-content-md-center  text-center">

		<div class="col col-3 bg-white habilidades" style="border-radius: 15px  0  0 15px ; box-shadow: 0 5px 5px 0 gray">
			<i class="bi-hdd-fill"></i>


			<h3>Back End</h3>
			<p class="text-primary cabecera">
				Stack:
			</p>

			<p>
				Asp.NET Core, SQL Server
			</p>
			<p class="text-primary cabecera">
				Experiencia:
			</p>
			<ul>
				<li>Web APIs</li>
				<li>ASP.net Core MVC</li>
				<li>JavaScript</li>
				<li>Sql</li>
				<li>Dapper</li>
				<li>C#</li>
				<li>JAVA</li>
			</ul>
		</div>

		<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0 ; box-shadow: 0 5px 5px 0 gray">

			<i class="bi-code-slash"></i>
			<h3>Front End</h3>
			<p class="text-primary cabecera">
				Stack:
			</p>

			<p>
				HTML, CSS, Blazor
			</p>
			<p class="text-primary cabecera">
				Experiencia:

			</p>
			<ul>
				<li>JavaScript</li>
				<li>ASP.net Core MVC</li>
				<li>Web APIs</li>
				<li>Blazor</li>
			</ul>
		</div>

	</div>

</div>
