@model IEnumerable<ProyectoDTO>

@if (Model is not null)
{

	<div class="text-center" style="padding-top: 6rem ;">
		<h1>Mis trabajos recientes</h1>
		<p>Aquí puedes ver algunos de mis proyectos mas recientes.</p>
	</div>

	<partial name="_listadoProyectos" model="Model"/>
}