
@{
	ViewData["Title"] = "Contacto";
}

<h1>Formulario de Contecto</h1>

<form asp-controller="Home" asp-action="Contacto">

	<div class="mb-3">
		<label for="nombre" class="form-label">Nombre</label>
		<input type="text" Class="form-control" id="nombre" name="nombre" placeholder="Nombre"  ></input>
	</div>

	<div class="mb-3">
		<label for="email" class="form-label">Email</label>
		<input type="email" Class="form-control" id="email" name="email" placeholder="ejemplo1@hotmail.com"></input>
	</div>

	<div class="mb-3">
		<label for="mensaje" class="form-label">Mensaje</label>
		<textarea type="text" Class="form-control" id="mensaje" name="mensaje" placeholder="Escribe aquí" rows="3"></textarea>
	</div>
	<button type="submit"  class="btn btn-primary">Enviar</button>
</form>