
@{
	ViewData["Title"]="Gracias";
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te contestare lo mas pronto posible</p>
<div> <a asp-action="Index" asp-controller="Home" class="btn btn-primary" >Volver al home</a></div>