@model IEnumerable<ProyectoDTO>


@{
	ViewData["Title"]="Proyectos";
}

<div class="Container">
	<h1>Mis Proyectos</h1>
	<p>Aquí encontraras todos mis proyectos</p>
</div>
	<partial name="_listadoProyectos" model="Model"/>

